<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="htl.steyr.wechselgeldapp">  <!-- Dein Package hier anpassen -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WechselgeldApp"
        tools:targetApi="31">

        <!-- Start-Activity -->
        <activity android:name=".StartController"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Weitere Activities -->
        <activity android:name=".Authentication.Login.CustomerLogin" />
        <activity android:name=".Authentication.Login.SellerLogin" />
        <activity android:name=".Authentication.Registration.CustomerRegistration" />
        <activity android:name=".Authentication.Registration.SellerRegistration" />
        <activity android:name=".AuthController"/>

    </application>

</manifest>
